django>=1.11,<2.1
django-model-utils
jsonfield
six
netjsonconfig>=0.6.2,<0.7.0
django-sortedm2m>=1.5.0,<1.6
django-reversion>=2.0.6,<2.1
django-x509>=0.3.4,<0.4.0
django-taggit>=0.22.2,<0.23.0
openwisp-utils>=0.1.2,<0.2
