django>=1.11,<1.12
django-model-utils
jsonfield
six
netjsonconfig>=0.5.4,<0.7.0
django-sortedm2m>=1.4.0,<1.5
django-reversion>=2.0.6,<2.1
django-x509>=0.2.0,<0.3.0
django-taggit>=0.22.1,<0.23.0
openwisp-utils>=0.1.2,<0.2
