{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
<li>
    <a href="{{ preview_url }}"
       class="previewlink"
       title="{% trans "Preview" %} (ALT+P)">
        {% trans "Preview" %}
    </a>
</li>
<li>
    <a href="{{ download_url }}" class="downloadlink">{% trans "Download configuration" %}</a>
</li>
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="djnjc-overlay">
    <div class="inner"></div>
</div>
{% endblock %}
