a.button:focus,
a.jsoneditor-exit:focus{ text-decoration: none }
.djnjc-preformatted, .field-config .vLargeTextField,
.jsoneditor .vLargeTextField{
    font-size:1em;
    font-family: "Bitstream Vera Sans Mono",
                 "Monaco",
                 "Droid Sans Mono",
                 "DejaVu Sans Mono",
                 "Ubuntu Mono",
                 "Courier New", Courier, monospace;
    color: #f9f9f9;
    overflow: auto;
    background-color: #222;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 20px;
    line-height: 22px;
}
.jsoneditor .vLargeTextField{
    color: #333;
    background-color: #fff;
    padding: 15px;
    font-weight: bold
}

.vLargeTextField.jsoneditor-raw{
    min-width: 100%;
    min-height: 500px;
    box-sizing: border-box;
}

.readonly{
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    background-color: rgba(0, 0, 0, 0.070);
}

.djnjc-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.91);
}

.djnjc-overlay .inner{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
}

.djnjc-overlay .djnjc-preformatted{
    margin: 0;
    padding: 40px 60px 20px;
    background-color: transparent;
    color: #adffa6;
    line-height: 1.5em;
}

.djnjc-preformatted.error{
    color: #ff7277
}

.djnjc-overlay .close,
.djnjc-overlay .close:focus,
.djnjc-overlay .close:active{
    position: absolute;
    right: 3%;
    top: 1.5%;
    font-weight: bold;
    font-size: 15px;
    background-color: #772299;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    text-decoration: none;
}
.djnjc-overlay .close:hover{
    background-color: #9e47c1;
}

.errors.field-templates li,
.errorlist.nonfield li{
    white-space: pre-line;
    word-break: break-all;
}
.form-row select{ background-color: #fff }
.form-row input[disabled], .form-row select[disabled]{ background-color: #f4f4f4 }
/* hide vpn specific fields by default */
.field-vpn, .field-auto_cert{
    display: none;
}
#container .help{ margin-top: 2px; font-size: 13px }
#container .help a,
#netjsonconfig-hint a, #netjsonconfig-hint-advancedmode a{ text-decoration: underline }
#netjsonconfig-hint, #netjsonconfig-hint-advancedmode { width: auto }

#container ul.sortedm2m-items{ height: auto; min-height: auto }
#container .sortedm2m-container .help{
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

#template_form #id_tags{ width: 261px }

#device_form #id_model,
#device_form #id_os,
#device_form #id_system{ width: 610px }
#device_form #id_notes{ height: 42px }
