.form-row.field-config{ display: none }
.form-row.field-config .advanced-mode{ display: none }
.jsoneditor-wrapper > fieldset{
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
}
.jsoneditor-wrapper h2{ padding: 18px }
input.deletelink{ background: #ba2121 }
input.deletelink:hover,
input.deletelink:focus{ background: #a41515 }
.jsoneditor input.button,
.jsoneditor input.deletelink,
.form-row .json-editor-btn-edit{
    margin-left: 10px;
    padding: 6px 12px;
}

.form-row .json-editor-btn-edit{ margin-bottom: 10px !important }
.jsoneditor .form-row{ padding: 15px 15px 15px 0 }
.jsoneditor label{ margin-left: 20px }
.jsoneditor .form-row:last-child{ border-bottom-width: 0 }
.jsoneditor .inline-group{
    clear: both;
    margin: 0;
    border: 1px solid #eee;
}

/* advanced mode and object properties */
.jsoneditor > div > h3.controls{
    padding: 12px 0;
    margin: 0;
}
.jsoneditor > div > h3.controls .button{ margin: 0 13px }

.jsoneditor  div[data-schematype="array"] > .inline-related > div > .inline-related,
.jsoneditor  div[data-schematype="array"] > .inline-related > div > .inline-group{
    margin: 20px;
}
.jsoneditor  div[data-schematype="array"] > .inline-related > div > .inline-related:last-child,
.jsoneditor  div[data-schematype="array"] > .inline-related > div > .inline-group:last-child{
    margin-bottom: 0
}
.jsoneditor  div[data-schematype="array"] > .inline-related > div > .inline-related[data-schematype="string"]{
    margin: 0;
}

.jsoneditor div[data-schemapath="root.interfaces"] > div > div > div {
    border-bottom: 2px dotted #ccc;
}

.jsoneditor div.control{ margin: 15px 0 }
.jsoneditor h3{
    height: 56px;
    line-height: 55px;
    padding: 0 12px 0 15px;
    overflow: hidden;
}
.jsoneditor h3 span{
    display: inline-block;
    margin-right: 15px;
    line-height: 0;
}
.jsoneditor h3 span.control{
    margin-top: 12px;
    float: right;
}
.jsoneditor .grid-column > h3{
    border: 1px solid #eee;
}

span.control input{ margin: 0 0 0 15px }
.jsoneditor span.control{
    padding: 0;
    margin-right: 0;
}

.jsoneditor div[data-schemapath="root.interfaces"] > div > div > div {
    border-bottom: 2px dotted #ccc;
    padding-bottom: 20px;
    margin-bottom: 22px !important;
}
.jsoneditor div[data-schemapath="root.interfaces"] > div > div > div:last-child {
    margin-bottom: 0 !important;
}

.jsoneditor div[data-schemapath="root.interfaces"] > div > div > div > .control{
    margin-bottom: 0;
}

div[data-schematype="array"] > div > div >
div[data-schematype="string"].inline-related .control{
    margin: -49px 10px 0;
    float: right;
    clear: both;
}
div[data-schematype="array"] > div > div >
div[data-schematype="string"].inline-related{ padding: 0 !important }

/* hide empty divs */
.jsoneditor div:empty{ display: none !important }

/* begin custom properties adjustments */
.jsoneditor .inline-group{ margin-bottom: 0 }
.jsoneditor .inline-group > label,
.jsoneditor .inline-group > select{
    vertical-align: top;
    margin: 15px 0;
}
.jsoneditor .inline-group > label{
    font-style: italic;
    display: inline-block;
    clear: both;
    float: none;
    margin-left: 15px;
}
.inline-group[data-schematype="object"] > .inline-related > .grid-container >
div > .grid-row > .inline-group > div > .inline-group{
    border: 0 none !important;
}
div[data-schematype="object"] > .inline-related > .grid-container >
div > .grid-row > .inline-group {
    border-bottom: 1px solid #eee;
}

.grid-row > .inline-group > div > .inline-group > div.form-row{
    border: 0 none;
    padding: 0;
    margin: 15px 0 15px 25px;
}

div[data-schematype="object"] > .inline-related > .grid-container > div >
.grid-row > .inline-group > div > div{
    border: 0 none;
}

div[data-schematype="object"] > .inline-related > .grid-container > div >
.grid-row > .inline-group > div{
    display: inline-block;
}

.jsoneditor > div > .inline-related > .grid-container > div > .grid-row >
.inline-group > div {
    display: block;
}

.jsoneditor .grid-row > .inline-group > div > .inline-group > h3 span{ display: inline-block !important }
.jsoneditor .grid-row > .inline-group > div > .inline-group > .inline-related > div > .inline-related > label,
.jsoneditor .grid-row > .inline-group > div > .inline-group > .inline-related > div > .inline-related > select{
    position: static;
    margin-bottom: 15px;
}
/* end custom properties adjustments */

/* oneOf switcher */
.jsoneditor .inline-related > label,
.jsoneditor .inline-related > select,
.jsoneditor .grid-column > label,
.jsoneditor .grid-column > select{
    position: absolute;
    top: 14px;
    left: 0;
    z-index: 1;
    font-weight: bold;
}
.jsoneditor .inline-related > select,
.jsoneditor .grid-column > select{
    margin-left: 188px;
    background-color: #fff
}
.jsoneditor .grid-row .grid-column{ position: relative }

.jsoneditor .modal{
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}
.jsoneditor .modal{
    width: 340px;
    margin-left: -215px;
}
.jsoneditor .modal .vTextField[type=text],
.jsoneditor .modal .button{
    margin-top: 12px !important;
    margin-bottom: 3px !important
}

.jsoneditor input[type=checkbox]{ margin-right: 7px }
.jsoneditor textarea{ min-height: 300px }
.jsoneditor .modal textarea{
    margin-bottom: 10px;
    min-width: 450px;
}
.jsoneditor .modal label{ margin-left: 5px }
.jsoneditor .property-selector{
    max-height: 240px !important;
    width: auto !important;
}
.jsoneditor .property-selector{
    padding: 10px !important;
}
.jsoneditor .property-selector input{
    margin: 0 8px 0 0
}
.jsoneditor .property-selector .form-row{
    padding: 2px 10px !important
}

.jsoneditor .errorlist{
    margin-top: 3px;
    margin-left: 175px;
}
