{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
{% if not visualize %}
<li>
    <a href="{% url 'admin:django_netjsonconfig_device_visualize' original.pk %}" class="visualizelink">{% trans "Visualize configuration" %}</a>
</li>
{% else %}
<li>
    <a href="{% url 'admin:django_netjsonconfig_device_change' original.pk %}" class="backlink">{% trans "Go back" %}</a>
</li>
{% endif %}
<li>
    <a href="{% url 'admin:django_netjsonconfig_device_download' original.pk %}" class="downloadlink">{% trans "Download configuration" %}</a>
</li>
{{ block.super }}
{% endblock %}
